* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.main-div {
  width: 100vw;
  height: 100vh;
  background: hsl(0, 0%, 94%);
  display: grid;
  place-items: center;
}

.center_div {
  width: 50vw;
  height: 50vh;
  color: #000;
  text-shadow: 0 0 2rem rgba(0, 0, 0, 0.5);
  font-size: 6.5rem;
  font-family: 'Sacramento', cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 100;
}

.love {
  position: relative;
  width: 100px;
  height: 160px;
  background: #ff0000;
  border-radius: 200px 200px 0 0;
  transform: rotate(45deg);
}

.love::before {
  content: '';
  position: absolute;
  background: #ff0000;
  width: 100px;
  height: 160px;
  transform: rotate(-90deg);
  border-radius: 200px 200px 0 0;
  left: -30px;
  top: 30px;
}

.animate {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: zinout 2.5s linear infinite;
}

@keyframes zinout {
  0% {
    transform: scale(0.75);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.75);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.75);
  }
  100% {
    transform: scale(0.75);
  }
}

@media screen and (max-width: 740px) {
  .center_div {
    font-size: 3.8rem;
  }
}

@media screen and (max-width: 500px) {
  .center_div {
    font-size: 3rem;
  }
}
